
body {
	background-image: url(../img/bg.jpg);
	font-family: Tahoma;
}
.wrapper {
	margin: 0px auto;
	width: 1000px;
	box-shadow: 0 3px 8px rgba(0,0,0,0.8);
}

/*HEADER*/

.header {
	background: #ffffff;
	height: 213px;
}

.clearfix:after{
  content: '';
  display: block;
  clear: both;
  height: 0;
  width: 100%;
}

.logo {
	float: left;
	margin: 11px 0 0 37px;
}

.container {
	float: right;
}

.contacts {
	float: right;
	margin: 11px 43px;
	font-size: 12px;
	color: #128aa7;


}

.title {
	font-weight: bold;
	margin-bottom: 12px;

}

.item {
	margin-top: 9px;
}

.item a {
	text-decoration: none;
}

.contries {
	float: right;
	clear: right;
	margin: 33px 43px 0 0;
}

.contries li {
	float: left;
	text-align: center;
	margin: 0 7px 0 7px;	 
}

.contries li a {
	font-size: 10px;
	text-decoration: underline;
	color: #128aa7;
}

.contries a span {
	display: block;
}

/*CONTENT*/

.photo {
	height: 237px;
	border-top: 1px solid #128aa7;
	border-bottom: 1px solid #128aa7;
}

.menu{
	border-bottom: 1px solid #000;
	background-color: #303030;
	box-shadow: 0 2px 5px rgba(0,0,0,0.9);  
}

.menu li{
  	position: relative;
  	float: left;
  	list-style: none;
}
.menu li a{
	position: relative;
  	padding: 0 33px;
  	display: block;
  	line-height: 28px;
  	color: #fff;
  	text-decoration: none;
  	font-size: 14px;
}

.menu ul+a:after{
  	content: '';
  	display: block;
  	position: absolute;
  	top: 50%;
  	margin-top: -2px;
  	right: 10px;
  	height: 6px;
 	width: 5px;
  	background: url(../img/triangle.png) 0 0 no-repeat;
}

.menu ul{
  	position: absolute;
  	left: 23px;
  	visibility: hidden;
  	top: 0;
  	pacity: 0;
  	transition: all 0.5s;
}

.menu li:hover ul{
  	visibility: visible;
  	opacity: 1;
  	top: 100%;
}

.menu ul li{
  	background: #303030;
}
.menu ul a{
  	padding: 0 10px;
}

.content {
	background: url(../img/content.png) repeat-y;
	color: #424c43;
	line-height: 24px;
}

.content h2 {
	font-size: 18px;
	text-align: center;
}

.info, .news {
	width: 180px;
	font-size: 14px;
	padding: 10px 15px;
}

.info {
	float: left;
}

.news {
	float: right;
}

.box {
	float: right;
	width: 490px;
	margin: 0 30px;
	padding: 10px 15px 10px 15px; 
}

/*FOOTER*/

.footer p {
	text-align: center;
	line-height: 34px;
	font-size: 12px;
	color: #ffffff;
}